	<section id="fh5co-home" data-section="home" style="background-image: url(/images/{{ .Params.hero.background }});" data-stellar-background-ratio="0.5">
		<div class="gradient"></div>
		<div class="container">
			<div class="text-wrap">
				<div class="text-inner">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h1 class="">{{ with .Title }}{{ . | markdownify }}{{ end }}</h1>
							<h2 class="">{{ with .Params.subtitle }}{{ . | markdownify }}{{ end }}</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slant"></div>
	</section>
